[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network-online.target

[Service]
Type=forking
User=<user>

# Clean any existing files in /tmp/.X11-unix environment
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill %i > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver -geometry 1024x768 -depth 16 -dpi 120 -alwaysshared -localhost %i
ExecStop=/usr/bin/vncserver -kill %i

[Install]
WantedBy=default.target
